In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=10)

In [3]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,01/01/2021 12:30:10 AM,01/01/2021 12:36:12 AM,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0,0.3,11.80,2.5
1,1,01/01/2021 12:51:20 AM,01/01/2021 12:52:19 AM,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0,0.3,4.30,0.0
2,1,01/01/2021 12:43:30 AM,01/01/2021 01:11:06 AM,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0,0.3,51.95,0.0
3,1,01/01/2021 12:15:48 AM,01/01/2021 12:31:01 AM,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0,0.3,36.35,0.0
4,2,01/01/2021 12:31:49 AM,01/01/2021 12:48:21 AM,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0,0.3,24.36,2.5
5,1,01/01/2021 12:16:29 AM,01/01/2021 12:24:30 AM,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0,0.3,14.15,2.5
6,1,01/01/2021 12:00:28 AM,01/01/2021 12:17:28 AM,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0,0.3,17.30,0.0
7,1,01/01/2021 12:12:29 AM,01/01/2021 12:30:34 AM,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0,0.3,21.80,2.5
8,1,01/01/2021 12:39:16 AM,01/01/2021 01:00:13 AM,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0,0.3,28.80,0.0
9,1,01/01/2021 12:26:12 AM,01/01/2021 12:39:46 AM,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0,0.3,18.95,2.5

In [13]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
from sqlalchemy import create_engine

In [31]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [32]:
engine.connect()

In [33]:
print (pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [4]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [5]:
type (df_iter)

pandas.io.parsers.readers.TextFileReader

In [35]:
df=next(df_iter)

In [24]:
len(df)

100000

In [25]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [36]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [38]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.82 s, sys: 140 ms, total: 3.96 s
Wall time: 6 s

1000

In [29]:
from time import time

In [30]:
while True:
    
    t_start=time()
    
    df=next(df_iter)
    
    df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end=time()
    
    print ('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 18.375 second
inserted another chunk..., took 18.770 second
inserted another chunk..., took 18.093 second
inserted another chunk..., took 20.931 second
inserted another chunk..., took 19.399 second
inserted another chunk..., took 19.030 second
inserted another chunk..., took 19.994 second
inserted another chunk..., took 18.435 second
inserted another chunk..., took 18.890 second
inserted another chunk..., took 18.768 second
inserted another chunk..., took 18.900 second

/tmp/ipykernel_5146/2022054275.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk..., took 18.015 second

/tmp/ipykernel_5146/2022054275.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk..., took 17.024 second
inserted another chunk..., took 17.371 second
inserted another chunk..., took 18.597 second
inserted another chunk..., took 19.703 second
inserted another chunk..., took 18.459 second
inserted another chunk..., took 18.933 second
inserted another chunk..., took 18.706 second
inserted another chunk..., took 18.123 second
inserted another chunk..., took 20.464 second
inserted another chunk..., took 18.538 second
inserted another chunk..., took 18.456 second
inserted another chunk..., took 18.046 second
inserted another chunk..., took 17.820 second

/tmp/ipykernel_5146/2022054275.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk..., took 17.786 second

/tmp/ipykernel_5146/2022054275.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk..., took 17.873 second
inserted another chunk..., took 18.711 second
inserted another chunk..., took 18.637 second
inserted another chunk..., took 20.741 second
inserted another chunk..., took 18.753 second
inserted another chunk..., took 18.498 second
inserted another chunk..., took 19.195 second
inserted another chunk..., took 26.773 second
inserted another chunk..., took 32.958 second
inserted another chunk..., took 27.918 second
inserted another chunk..., took 23.299 second
inserted another chunk..., took 21.869 second
inserted another chunk..., took 18.532 second
inserted another chunk..., took 17.706 second
inserted another chunk..., took 17.970 second
inserted another chunk..., took 17.940 second
inserted another chunk..., took 17.471 second
inserted another chunk..., took 18.748 second

/tmp/ipykernel_5146/2022054275.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk..., took 19.712 second

/tmp/ipykernel_5146/2022054275.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk..., took 18.416 second
inserted another chunk..., took 20.952 second
inserted another chunk..., took 18.140 second
inserted another chunk..., took 18.388 second
inserted another chunk..., took 19.512 second
inserted another chunk..., took 19.137 second
inserted another chunk..., took 17.824 second
inserted another chunk..., took 17.320 second
inserted another chunk..., took 19.751 second
inserted another chunk..., took 18.971 second

OperationalError: (psycopg2.OperationalError) terminating connection due to administrator command
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[SQL: SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s]
[parameters: {'table_name': 'yellow_taxi_data', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}]
(Background on this error at: https://sqlalche.me/e/20/e3q8)